<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jskgmail.attendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.jskgmail.attendance.permission.SET_ALARM" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcheratt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcheratt"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="TrackPlan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaldroidSampleActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jskgmail.attendance.MainActivity" />
        </activity>

        <!-- Register the Alarm Receiver -->
        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".Main99Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jskgmail.attendance.MainActivity" />
        </activity>
        <activity android:name=".MainnotidialActivity" />
        <activity
            android:name=".MainrearrActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jskgmail.attendance.MainActivity" />
        </activity>
        <activity
            android:name=".MainsettingActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jskgmail.attendance.MainActivity" />
        </activity>
        <activity
            android:name=".MainhistoryActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jskgmail.attendance.MainActivity" />
        </activity>
        <activity android:name=".ConnectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jskgmail.attendance.MainActivity" />
        </activity>
        <activity android:name=".SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jskgmail.attendance.MainActivity" />
        </activity>
        <activity android:name=".MainfriendlistActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jskgmail.attendance.SearchActivity" />
        </activity>
        <activity android:name=".WhoareyouActivity"></activity>
    </application>

</manifest>